/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* tokens */
:root {
  --color-white: #ffffff;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
  --color-blue-50: #e3f2fd;
  --color-blue-100: #bbdefb;
  --color-blue-200: #90caf9;
  --color-blue-300: #64b5f6;
  --color-blue-400: #42a5f5;
  --color-blue-500: #2196f3;
  --color-blue-600: #1e88e5;
  --color-blue-700: #1976d2;
  --color-blue-800: #1565c0;
  --color-blue-900: #0d47a1;
}

/* tokens light */
body {
  --color-text-primary: var(--color-gray-900);
  --color-text-secondary: var(--color-gray-600);
  --color-border-primary: var(--color-gray-300);
  --color-link: var(--color-blue-600);
}
body {
  color: var(--color-gray-900);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* utility */
/* utility > flex */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.f-1 {
  flex: 1;
}
/* utility > size */
.h-4 {
  height: 1rem;
}
.h-6 {
  height: 1.5rem;
}
.w-24 {
  width: 6rem;
}
.w-32 {
  width: 8rem;
}
.w-40 {
  width: 10rem;
}
.w-64 {
  width: 16rem;
}
/* utility > text-decoration */
.text-decoration-none {
  text-decoration: none;
}
/* utility > spacing */
.p-4 {
  padding: 1rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.m-0 {
  margin: 0;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* utility > border */
.border-solid {
  border-style: solid;
}
.border-dotted {
  border-style: dotted;
}
.border-1 {
  border-width: 1px;
}
.border-black {
  border-color: #000000;
}
.border-color-primary {
  border-color: var(--color-border-primary);
}
/* utility > text */
.text-primary {
  color: var(--color-text-primary);
}
.text-secondary {
  color: var(--color-text-secondary);
}
.text-link {
  color: var(--color-link);
}
.text-small {
  font-size: 0.75rem;
}
.text-medium {
  font-size: 1rem;
}
.text-large {
  font-size: 1.25rem;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
/* layout */
.layout-center {
  box-sizing: content-box;
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}
.layout-stack-1 > * + * {
  margin-top: 0.25rem;
}
.layout-stack-2 > * + * {
  margin-top: 0.5rem;
}
.layout-stack-3 > * + * {
  margin-top: 0.75rem;
}
.layout-stack-4 > * + * {
  margin-top: 1rem;
}
.layout-stack-6 > * + * {
  margin-top: 1.5rem;
}
.layout-stack-8 > * + * {
  margin-top: 2rem;
}
